/* Style Sheet Green Meat's TBB mobile app*/

p {
    text-indent:5%;
}
body {
    font-size: medium;
    margin-right:25px;
}
.dropcap {
			font-size: 3em;
			font-weight: bold;
		}
.verseLine {
    font-size: 1.13em;
}
sub, sup { 
	font-size: 100%;
	position: relative; 
	vertical-align: baseline; 
}
sup { 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}

ul{
    padding:0px;
}

.leftFirstLine {
    margin-top:-1.13em;
}

.rightFirstLine {
    margin-top:1.62em;
}

.hoverLite{
    background-color:yellow;
}
hr{
    margin-left:-.31em;
}

.chapterBody{
    display:none
}

.defaultBody{
    display:none
}

.fontFour {
    font-size: 1.13em;
}

.fontFive {
    font-size: 1.5em;
}
.fontSix {
    font-size: 2em;
}
.fontSeven {
    font-size: 3em;
}
.prevButton, .nextButton{
    cursor:pointer;
    color:#330099;
    text-decoration:underline;
}
.ICRClickable, .pageClickable{
    cursor:pointer;
    color:#330099;
    text-decoration:underline;
}

/* End of Style Sheet */
